<mat-card>
    <mat-card-title class="bgcolor">CONSCIOUSNESS FOR ENVIRONMENT</mat-card-title>
    <mat-card-content>
      <form class="example-form" [formGroup]="form">
  
        <div class="row-fill">
            <div class="example-full-width col">
              <mat-label>State in Detail measures Taken Towards Reduction of Environmental Hazards and Adoption of Renewable Energy.  </mat-label>
              <mat-label>Also Specify is outcome *</mat-label>
              <mat-form-field appearance="outline">
                <textarea
                  matInput
                  placeholder="(only 200 words allowed)"
                  autocomplete=""
                  formControlName="env_hazard_renewable_energy"
                  required
                >
                </textarea>
                <mat-error
                  *ngIf="
                    form.get('env_hazard_renewable_energy')?.hasError('required') &&
                    form.get('env_hazard_renewable_energy')?.touched
                  "
                  >ⓘ Please enter your State in Detail  –  it's too long</mat-error
                >
              </mat-form-field>
            </div>
          </div>


        <div class="row-fill space-between">
          <div class="row space-between example-half-width wrap">
            <div class=" col">
              <mat-label>Attach Suppoting Documents(if any) *</mat-label>
              <mat-form-field style="width: 100%;" appearance="outline">
                <button mat-raised-button class="sam" matSuffix (click)="f_input.click()">
                  Browse
                </button>
                <input type="text" readonly matInput formControlName="doc_env_supporting" />
                <input
                  type="file"
                  multiple
                  hidden
                  #f_input
                  (change)="handleFileInputChange(f_input?.files)"
                />
                <mat-error>this field is required</mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
  
        <div class="row-fill space-between">
          <div class="row space-between example-half-width"> Attach organisation's Environment Policy(if any)</div>
          <div class="row space-between example-half-width">Expenditure incurred Towards Renewable Energy(in Lakhs) *</div>  
        </div>
        <div class="row-fill space-between">
          <div class="row space-between example-half-width wrap">
            <div class="col">
              <mat-form-field style="width: 100%;" appearance="outline">
                <button mat-raised-button class="sam" matSuffix (click)="f2_input.click()">
                  Browse
                </button>
                <input type="text" readonly matInput formControlName="display2" />
                <input
                  type="file"
                  multiple
                  hidden
                  #f2_input
                  (change)="handleFileInput2Change(f2_input?.files)"
                />
                <!-- <mat-error>this field is required</mat-error> -->
              </mat-form-field>
            </div>
          </div>
          <div class="row space-between example-half-width wrap">
            <div class="example-full-width">
              <mat-form-field class="example-full-width" appearance="outline">
                <input
                  matInput
                  placeholder="Expenditure"
                  autocomplete=""
                  formControlName="renewable_energy_expense"
                  required
                />
                <mat-error
                  *ngIf="
                    form.get('renewable_energy_expense')?.hasError('required') &&
                    form.get('renewable_energy_expense')?.touched
                  "
                  >ⓘ Please enter  Renewable Energy Expense – it's required</mat-error
                >
              </mat-form-field>
            </div>

  
          </div>
        </div>
  




      </form>
    </mat-card-content>
    <mat-card-actions class="row-fill space-between">
      <button mat-button (click)="prevClick()">Prev</button>
      <button mat-button class="btn-save" (click)="nextClick()">Save & Next</button>
    </mat-card-actions>
  </mat-card>
  
