
<mat-card>
    <mat-card-title class="bgcolor">CSR FOR INITIATIVES</mat-card-title>
    <mat-card-content>
      <form class="example-form" [formGroup]="form">
  
        <div class="row-fill">
            <div class="example-full-width col">
              <mat-label>State in Detail CSR Policies Adoption and outcome and outreach over the last 3 years *  </mat-label>
              <mat-form-field appearance="outline">
                <textarea
                  matInput
                  placeholder="(only 200 words allowed)"
                  autocomplete=""
                  formControlName="csr_policy"
                  required
                >
                </textarea>
                <mat-error
                  *ngIf="
                    form.get('csr_policy')?.hasError('required') &&
                    form.get('csr_policy')?.touched
                  "
                  >ⓘ Please enter your State in CSR policy  –  it's required</mat-error
                >
              </mat-form-field>
            </div>
          </div>


        <div class="row-fill space-between wrap">
          <div class="row example-quard-width">
            <div class=" col">
              <mat-label>Attach CSR policy/Suppoting Documents(if any) </mat-label>
              <mat-form-field style="width: 100%;" appearance="outline">
                <button mat-raised-button class="sam" matSuffix (click)="f_input.click()">
                  Browse
                </button>
                <input type="text" readonly matInput formControlName="doc_csr_policy" />
                <input
                  type="file"
                  multiple
                  hidden
                  #f_input
                  (change)="handleFileInputChange(f_input?.files)"
                />
              </mat-form-field>
            </div>
          </div>
          <div class="example-quard-width col">
            <mat-label>Annual CSR expenditure(in Lakhs) *</mat-label>
          <mat-form-field appearance="outline">
            <input matInput placeholder="expenditure" autocomplete=""
            formControlName="annual_csr_expense">
            <mat-error
            *ngIf="
              form.get('annual_csr_expense')?.hasError('required') && form.get('annual_csr_expense')?.touched
            "
            >ⓘ Please enter your Annual CSR expenditure– it's required</mat-error
          >
          </mat-form-field>
          </div>
          <div class="example-quard-width ">
            <mat-label>% of profit earmarked for CSR * </mat-label>
          <mat-form-field appearance="outline">
            <input matInput placeholder="expenditure" autocomplete=""
            formControlName="perc_profit_csr" required>
            <mat-error
            *ngIf="
              form.get('perc_profit_csr')?.hasError('required') && form.get('perc_profit_csr')?.touched
            "
            >ⓘ Please enter your gst no – it's required</mat-error
          >
          </mat-form-field>
        </div>
        </div>
      </form>
    </mat-card-content>
    <mat-card-actions class="row-fill space-between">
      <button mat-button (click)="prevClick()">Prev</button>
      <button mat-button (click)="nextClick()">Next</button>
    </mat-card-actions>
  </mat-card>
  
