:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  padding-top: 16px;
}

.example-form {
  min-width: 150px;
//   max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.example-half-width {
    width: 48%;
}

.width{ 
    width: 80%;
}

.example-quard-width { width: 30%; }

.bgcolor{ 
    background-color: #85c1e9 ;
    color: white;
}