<mat-card>
  <mat-card-title class="bgcolor">CONTACT DETAILS FOR ALL CORRESPONDENCE</mat-card-title>
  <mat-card-content>
    <form class="example-form" [formGroup]="form">
      <!-- <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Company (disabled)</mat-label>
        <input matInput disabled value="Google">
      </mat-form-field> -->

      <div class="row-fill space-between">
        <div class="example-half-width col">
          <mat-label>Name of Contact *</mat-label>
          <mat-form-field appearance="outline">
            <input matInput placeholder="Name" autocomplete=""
            formControlName="contact_name" required />
            <mat-error
            *ngIf="
              form.get('contact_name')?.hasError('required') && form.get('contact_name')?.touched
            "
            >ⓘ Please enter your contact name – it's required</mat-error
          >
          </mat-form-field>
        </div>
        <div class="example-half-width col">
          <mat-label>Designation *</mat-label>
          <mat-form-field appearance="outline">
            <input matInput placeholder="designation" autocomplete=""
            formControlName="contact_desig" required />
            <mat-error
            *ngIf="
              form.get('contact_desig')?.hasError('required') && form.get('contact_desig')?.touched
            "
            >ⓘ Please enter your designation – it's required</mat-error
          >
          </mat-form-field>
        </div>
      </div>
      <div class="row-fill space-between">
        <div class="example-half-width col">
          <mat-label>Official Mobile No * </mat-label>
          <mat-form-field appearance="outline">
            <input matInput placeholder="Mobile No" autocomplete=""
            formControlName="contact_mobile" [clearIfNotMatch]="false" mask="000 000 0000" required />
            <mat-error
            *ngIf="
              form.get('contact_mobile')?.hasError('required') && form.get('contact_mobile')?.touched
            "
            >ⓘ Please enter your Mobile No – it's required</mat-error
          >
          </mat-form-field>
        </div>
        <div class="example-half-width col">
          <mat-label>Official Email Address * </mat-label>
          <mat-form-field appearance="outline">
            <input matInput placeholder="contact_email" autocomplete=""
            formControlName="contact_email" required/>
            <mat-error
            *ngIf="
              form.get('contact_email')?.hasError('required') && form.get('contact_email')?.touched
            "
            >ⓘ Please enter your Email – it's required</mat-error
          >
          <mat-error
          *ngIf="
            form.get('contact_email')?.hasError('email') && !form.get('contact_email')?.hasError('required')
          "
          >ⓘ Please enter your Email – it's required</mat-error
        >
          </mat-form-field>
        </div>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions class="row-fill space-between">
    <button mat-button class="btn-prev" (click)="prevClick()">Prev</button>
    <button mat-button class="btn-save" (click)="nextClick()">Save & Next</button>
  </mat-card-actions>
</mat-card>
