<div class="container col scroll-y">
<div class="header center row space-between">
    <img src="../../../assets/Sponsors LOGO/Business Awards Logo.png" class="img" alt="" />
    <button mat-icon-button (click)="openDialog()"><mat-icon>logout</mat-icon></button>
</div>
<div>
<router-outlet></router-outlet>
</div>
<div class="footer row space-around wrap">
    <img src="../../../assets/Sponsors LOGO/logo (1).png" class="fimg" alt="" />
    <img src="../../../assets/Sponsors LOGO/PicsArt_10-13-09.00.46.png" class="fimg" alt="" />
    <img src="../../../assets/Sponsors LOGO/SAN_without BG.png" class="fimg" alt="" />
    <img src="../../../assets/Sponsors LOGO/Sanmarg Foundation.jpg" class="fimg" alt="" />
    <img src="../../../assets/Sponsors LOGO/saviles-01.png" class="fimg" alt="" />
    <img src="../../../assets/Sponsors LOGO/spf.png" class="fimg" alt="" />
</div>
</div>