
<mat-card>
    <mat-card-title class="bgcolor">INNOVATION,RESEARCH & DEVELOPMENT</mat-card-title>
    <mat-card-content>
      <form class="example-form" [formGroup]="form">
  
        <div class="row-fill">
            <div class="example-full-width col">
              <mat-label>State in Detail Measures Taken in the Field of Innovation/R&D Its Impact Over the Last 3 Years </mat-label>
              <mat-form-field appearance="outline">
                <textarea
                  matInput
                  placeholder="(only 200 words allowed)"
                  autocomplete=""
                  formControlName="innov_rnd_impact"
                >
                </textarea>
                <mat-error
                  *ngIf="
                    form.get('innov_rnd_impact')?.hasError('maxLength') &&
                    form.get('innov_rnd_impact')?.touched
                  "
                  >ⓘ Please enter your  Innovation/R&D  –  it's too long</mat-error
                >
              </mat-form-field>
            </div>
          </div>


        <div class="row-fill space-between wrap">
          <div class="row example-quard-width">
            <div class=" col">
              <mat-label>Attach Suppoting Documents(if any) </mat-label>
              <mat-form-field style="width: 100%;" appearance="outline">
                <button mat-raised-button class="sam" matSuffix (click)="f_input.click()">
                  Browse
                </button>
                <input type="text" readonly matInput formControlName="doc_innov_rnd" />
                <input
                  type="file"
                  multiple
                  hidden
                  #f_input
                  (change)="handleFileInputChange(f_input?.files)"
                />
              </mat-form-field>
            </div>
          </div>
        </div>
         
          <div class="row-fill">
            <div class="example-half-width col">
              <mat-label>Annual expenditure on Innovation/R & D (in Lakhs) *</mat-label>
              <mat-form-field appearance="outline">
                <input
                  matInput
                  placeholder="(expenditure)"
                  autocomplete=""
                  formControlName="annual_innov_rnd_expense"
                >
                <mat-error
                  *ngIf="
                    form.get('annual_innov_rnd_expense')?.hasError('required') &&
                    form.get('annual_innov_rnd_expense')?.touched
                  "
                  >ⓘ Please enter your  Innovation/R&D  –  it's required</mat-error
                >
              </mat-form-field>
            </div>
          </div>
       
      </form>
    </mat-card-content>
    <mat-card-actions class="row-fill space-between">
      <button mat-button (click)="prevClick()">Prev</button>
      <button mat-button class="btn-save" (click)="nextClick()">Save & Next</button>
    </mat-card-actions>
  </mat-card>
  
