:host {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #eeeeee;
    padding: 0 !important;
    margin: 0 !important;
}

.header {
    padding: 0 !important;
    margin: 0 !important;
    height: 96px; background-color: white; width: 100vw;
}