<mat-card>
    <mat-card-title class="bgcolor">HR PARACTICE</mat-card-title>
    <mat-card-content>
      <form class="example-form" [formGroup]="form">
  


  
        <div class="row-fill space-between">
          <div class="row space-between example-half-width">Number of Direct Employees</div>
          <div class="row space-between example-half-width">Number of Indirect Employees</div>  
        </div>
        <div class="row-fill space-between">
          <div class="row space-between example-half-width wrap">
            <div class="example-quard-width col">
              <mat-label>2021 *</mat-label>
              <mat-form-field class="example-full-width" appearance="outline">
                <input
                  matInput
                  placeholder="2021"
                  autocomplete=""
                  formControlName="direct_employees_2021"
                  required
                />
                <mat-error
                  *ngIf="
                    form.get('direct_employees_2021')?.hasError('required') &&
                    form.get('direct_employees_2021')?.touched
                  "
                  >ⓘ Please enter 2021 – it's required</mat-error
                >
              </mat-form-field>
            </div>
            <div class="example-quard-width">
              <mat-label>2020*</mat-label>
              <mat-form-field class="example-full-width" appearance="outline">
                <input
                  matInput
                  placeholder="2020"
                  autocomplete=""
                  formControlName="direct_employees_2020"
                  required
                />
                <mat-error
                  *ngIf="
                  form.get('direct_employees_2020')?.touched &&
                  form.get('direct_employees_2020')?.hasError('required')
                  "
                  >ⓘ Please enter 2020 – it's required</mat-error
                >
              </mat-form-field>
            </div>
            <div class="example-quard-width">
              <mat-label>2019 *</mat-label>
              <mat-form-field class="example-full-width" appearance="outline">
                <input
                  matInput
                  placeholder="2019"
                  autocomplete=""
                  formControlName="direct_employees_2019"
                  required
                />
                <mat-error
                  *ngIf="
                    form.get('direct_employees_2019')?.hasError('required') &&
                    form.get('direct_employees_2019')?.touched
                  "
                  >ⓘ Please enter 2019 – it's required</mat-error
                >
              </mat-form-field>
            </div>
          </div>
          <div class="row space-between example-half-width wrap">
            <div class="example-quard-width">
              <mat-label>2021</mat-label>
              <mat-form-field class="example-full-width" appearance="outline">
                <input
                  matInput
                  placeholder="2021"
                  autocomplete=""
                  formControlName="indirect_employees_2021"
                  
                />
              </mat-form-field>
            </div>
            <div class="example-quard-width">
              <mat-label>2020</mat-label>
              <mat-form-field class="example-full-width" appearance="outline">
                <input
                  matInput
                  placeholder="2020"
                  autocomplete=""
                  formControlName="indirect_employees_2020"
                />
              </mat-form-field>
            </div>
            <div class="example-quard-width">
              <mat-label>2019</mat-label>
              <mat-form-field class="example-full-width" appearance="outline">
                <input
                  matInput
                  placeholder="2019"
                  autocomplete=""
                  formControlName="indirect_employees_2019"
                />
              </mat-form-field>
            </div>
          </div>
        </div>
  
        <div class="row-fill space-between">
          <div class="row space-between example-half-width">Total Employee Compensation (in Lakhs)</div>
          <div class="row space-between example-half-width">Female: Male Ratio of employees</div>  
        </div>
        <div class="row-fill space-between">
          <div class="row space-between example-half-width wrap">
            <div class="example-quard-width col">
              <mat-label>2021 *</mat-label>
              <mat-form-field class="example-full-width" appearance="outline">
                <input
                  matInput
                  placeholder="2021"
                  autocomplete=""
                  formControlName="total_emp_comp_2021"
                  required
                />
                <mat-error
                  *ngIf="
                    form.get('total_emp_comp_2021')?.hasError('required') &&
                    form.get('total_emp_comp_2021')?.touched
                  "
                  >ⓘ Please enter 2021 – it's required</mat-error
                >
              </mat-form-field>
            </div>
            <div class="example-quard-width">
              <mat-label>2020*</mat-label>
              <mat-form-field class="example-full-width" appearance="outline">
                <input
                  matInput
                  placeholder="2020"
                  autocomplete=""
                  formControlName="total_emp_comp_2020"
                  required
                />
                <mat-error
                  *ngIf="
                  form.get('total_emp_comp_2020')?.touched &&
                  form.get('total_emp_comp_2020')?.hasError('required')
                  "
                  >ⓘ Please enter 2020 – it's required</mat-error
                >
              </mat-form-field>
            </div>
            <div class="example-quard-width">
              <mat-label>2019 *</mat-label>
              <mat-form-field class="example-full-width" appearance="outline">
                <input
                  matInput
                  placeholder="2019"
                  autocomplete=""
                  formControlName="total_emp_comp_2019"
                  required
                />
                <mat-error
                  *ngIf="
                    form.get('total_emp_comp_2019')?.hasError('required') &&
                    form.get('total_emp_comp_2019')?.touched
                  "
                  >ⓘ Please enter 2019 – it's required</mat-error
                >
              </mat-form-field>
            </div>
          </div>
          <div class="row space-between example-half-width wrap">
            <div class="example-full-width">
              <mat-form-field class="example-full-width" appearance="outline">
                <input
                  matInput
                  placeholder="Female:Male"
                  autocomplete=""
                  formControlName="female_male_ratio"
                  required
                />
                <mat-error
                  *ngIf="
                    form.get('female_male_ratio')?.hasError('required') &&
                    form.get('female_male_ratio')?.touched
                  "
                  >ⓘ Please enter  female – it's required</mat-error
                >
              </mat-form-field>
            </div>

  
          </div>
        </div>
  



        <div class="row-fill">
            <div class="example-full-width col">
              <mat-label>Best Continued HR paractice in last 5 years *</mat-label>
              <mat-form-field appearance="outline">
                <textarea
                  matInput
                  placeholder="(only 200 words allowed)"
                  autocomplete=""
                  formControlName="hr_practice"
                  required
                >
                </textarea>
                <mat-error
                  *ngIf="
                    form.get('hr_practice')?.hasError('required') &&
                    form.get('hr_practice')?.touched
                  "
                  >ⓘ Please enter your HR paractice – it's required</mat-error
                >
              </mat-form-field>
            </div>
          </div>
      </form>
    </mat-card-content>
    <mat-card-actions class="row-fill space-between">
      <button mat-button (click)="prevClick()">Prev</button>
      <button mat-button class="btn-save" (click)="nextClick()">Save & Next</button>
    </mat-card-actions>
  </mat-card>
  