
<mat-card>
    <mat-card-title class="bgcolor">ANY OTHER INFORMATION</mat-card-title>
    <mat-card-content>
      <form class="example-form" [formGroup]="form">
  
        <div class="row-fill">
            <div class="example-full-width col">
              <mat-label>Branding & Advertising policy *</mat-label>
              <mat-form-field appearance="outline">
                <textarea
                  matInput
                  placeholder="(only 200 words allowed)"
                  autocomplete=""
                  formControlName="advertising_policy"
                >
                </textarea>
                <mat-error
                  *ngIf="
                    form.get('advertising_policy')?.hasError('required') &&
                    form.get('advertising_policy')?.touched
                  "
                  >ⓘ Please enter your  Branding & Advertising policy  –  it's required</mat-error
                >
                <mat-error
                  *ngIf="
                    form.get('advertising_policy')?.hasError('maxLength') &&
                    form.get('advertising_policy')?.touched
                  "
                  >ⓘ Please enter your   Branding & Advertising policy –  it's too long</mat-error
                >
              </mat-form-field>
            </div>
          </div>


          <div class="row-fill space-between">
            <div class="row space-between example-half-width">Annual Advertising Expenditure (in Lakhs) *</div>
            <div class="row space-between example-half-width">Annual Advertising Expenditure (in Lakhs) </div>  
          </div>
         
          <div class="row space-between wrap">
            <div class="example-quater-width col ">
              <mat-label>Print *</mat-label>
              <mat-form-field appearance="outline">
                <input
                  matInput
                  placeholder="(print)"
                  autocomplete=""
                  formControlName="annual_advert_expense_print"
                >
                <mat-error
                  *ngIf="
                    form.get('annual_advert_expense_print')?.hasError('required') &&
                    form.get('annual_advert_expense_print')?.touched
                  "
                  >ⓘ Please enter your  Annual Advertising Expenditure  –  it's required</mat-error
                >
              </mat-form-field>
            </div>
            <div class="example-quater-width col">
                <mat-label>Digital *</mat-label>
                <mat-form-field appearance="outline">
                  <input
                    matInput
                    placeholder="(Digital)"
                    autocomplete=""
                    formControlName="annual_advert_expense_digital"
                  >
                  <mat-error
                    *ngIf="
                      form.get('annual_advert_expense_digital')?.hasError('required') &&
                      form.get('annual_advert_expense_digital')?.touched
                    "
                    >ⓘ Please enter your  Digital  –  it's required</mat-error
                  >
                </mat-form-field>
              </div>

              <div class="example-quater-width col">
                <mat-label>English Language *</mat-label>
                <mat-form-field appearance="outline">
                  <input
                    matInput
                    placeholder="(English Language )"
                    autocomplete=""
                    formControlName="annual_advert_expense_english"
                  >
                  <mat-error
                    *ngIf="
                      form.get('annual_advert_expense_english')?.hasError('required') &&
                      form.get('annual_advert_expense_english')?.touched
                    "
                    >ⓘ Please enter your  English Language  –  it's required</mat-error
                  >
                </mat-form-field>
              </div>
              <div class="example-quater-width col">
                  <mat-label>Vernacular Language *</mat-label>
                  <mat-form-field appearance="outline">
                    <input
                      matInput
                      placeholder="(Vernacular Language)"
                      autocomplete=""
                      formControlName="annual_advert_expense_vernacular"
                    >
                    <mat-error
                      *ngIf="
                        form.get('annual_advert_expense_vernacular')?.hasError('required') &&
                        form.get('annual_advert_expense_vernacular')?.touched
                      "
                      >ⓘ Please enter your  Vernacular Language  –  it's required</mat-error
                    >
                  </mat-form-field>
                </div>
          </div>

          <div class="row-fill">
            <div class="example-full-width col">
              <mat-label>Any other relevant information</mat-label>
              <mat-form-field appearance="outline">
                <textarea
                  matInput
                  placeholder="(only 200 words allowed)"
                  autocomplete=""
                  formControlName="other_info"
                >
                </textarea>
                <mat-error
                  *ngIf="
                    form.get('other_info')?.hasError('required') &&
                    form.get('other_info')?.touched
                  "
                  >ⓘ Please enter your  Iother Information  –  it's required</mat-error
                >
                <mat-error
                  *ngIf="
                    form.get('other_info')?.hasError('maxLength') &&
                    form.get('other_info')?.touched
                  "
                  >ⓘ Please enter your  other Information  –  it's too long</mat-error
                >
              </mat-form-field>
            </div>
          </div>
       
      </form>
    </mat-card-content>
    <mat-card-actions class="row-fill space-between">
      <button mat-button (click)="prevClick()">Prev</button>
      <button mat-button class="btn-save" (click)="nextClick()">Save & Next</button>
    </mat-card-actions>
  </mat-card>
  
