<mat-card>
  <mat-card-title class="bgcolor">BUSINESS OVERVIEW</mat-card-title>
  <mat-card-content>
    <form class="example-form" [formGroup]="form">
      <!-- <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Company (disabled)</mat-label>
          <input matInput disabled value="Google">
        </mat-form-field> -->

      <div class="row-fill">
        <div class="example-full-width col">
          <mat-label>Business Synopsis *</mat-label>
          <mat-form-field appearance="outline">
            <textarea
              matInput
              placeholder="Business Synopsis"
              autocomplete=""
              formControlName="synopsis"
              required
            >
            </textarea>
            <mat-error
              *ngIf="
                form.get('synopsis')?.hasError('required') &&
                form.get('synopsis')?.touched
              "
              >ⓘ Please enter your synopsis – it's required</mat-error
            >
          </mat-form-field>
        </div>
      </div>
      <div class="row-fill space-between">
        <div class="example-half-width col">
          <mat-label>Year of Establishment *</mat-label>
          <mat-form-field appearance="outline">
            <input
              matInput
              [matDatepicker]="dp"
              [(ngModel)]="date"
              [ngModelOptions]="{standalone: true}"
            />
            <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
            <mat-datepicker
              #dp
              startView="multi-year"
              (yearSelected)="
                date = $event;
                form.get('est_year').setValue($event.year());
                dp?.close()
              "
              panelClass="example-month-picker"
            >
            </mat-datepicker>
          </mat-form-field>
        </div>
        <div class="example-half-width col">
          <mat-label>Organization's Main Product/Services * </mat-label>
          <mat-form-field appearance="outline">
            <input
              matInput
              placeholder="Main Product"
              autocomplete=""
              formControlName="product_services"
              required
            />
            <mat-error
              *ngIf="
                form.get('product_services')?.hasError('required') &&
                form.get('product_services')?.touched
              "
              >ⓘ Please enter your Main Product – it's required</mat-error
            >
          </mat-form-field>
        </div>
      </div>

      <div class="row-fill space-between">
        <div class="row space-between example-half-width">Annual Turnover(in Lakhs)</div>
        <div class="row space-between example-half-width">Profit Before Taxes(in Lakhs)</div>  
      </div>
      <div class="row-fill space-between">
        <div class="row space-between example-half-width wrap">
          <div class="example-quard-width col">
            <mat-label>2021 *</mat-label>
            <mat-form-field class="example-full-width" appearance="outline">
              <input
                matInput
                placeholder="2021"
                autocomplete=""
                formControlName="annual_turnover_2021"
                required
              />
              <mat-error
                *ngIf="
                  form.get('annual_turnover_2021')?.hasError('required') &&
                  form.get('annual_turnover_2021')?.touched
                "
                >ⓘ Please enter 2021 – it's required</mat-error
              >
            </mat-form-field>
          </div>
          <div class="example-quard-width">
            <mat-label>2020*</mat-label>
            <mat-form-field class="example-full-width" appearance="outline">
              <input
                matInput
                placeholder="2020"
                autocomplete=""
                formControlName="annual_turnover_2020"
                required
              />
              <mat-error
                *ngIf="
                form.get('annual_turnover_2020')?.touched &&
                form.get('annual_turnover_2020')?.hasError('required')
                "
                >ⓘ Please enter 2020 – it's required</mat-error
              >
            </mat-form-field>
          </div>
          <div class="example-quard-width">
            <mat-label>2019 *</mat-label>
            <mat-form-field class="example-full-width" appearance="outline">
              <input
                matInput
                placeholder="2019"
                autocomplete=""
                formControlName="annual_turnover_2019"
                required
              />
              <mat-error
                *ngIf="
                  form.get('annual_turnover_2019')?.hasError('required') &&
                  form.get('annual_turnover_2019')?.touched
                "
                >ⓘ Please enter 2019 – it's required</mat-error
              >
            </mat-form-field>
          </div>
        </div>
        <div class="row space-between example-half-width wrap">
          <div class="example-quard-width">
            <mat-label>2021 *</mat-label>
            <mat-form-field class="example-full-width" appearance="outline">
              <input
                matInput
                placeholder="2021"
                autocomplete=""
                formControlName="profit_b_tax_2021"
                required
              />
              <mat-error
                *ngIf="
                  form.get('profit_b_tax_2021')?.hasError('required') &&
                  form.get('profit_b_tax_2021')?.touched
                "
                >ⓘ Please enter  2021 – it's required</mat-error
              >
            </mat-form-field>
          </div>
          <div class="example-quard-width">
            <mat-label>2020 *</mat-label>
            <mat-form-field class="example-full-width" appearance="outline">
              <input
                matInput
                placeholder="2020"
                autocomplete=""
                formControlName="profit_b_tax_2020"
                required
              />
              <mat-error
                *ngIf="
                  form.get('profit_b_tax_2020')?.hasError('required') &&
                  form.get('profit_b_tax_2020')?.touched
                "
                >ⓘ Please enter  2020 – it's required</mat-error
              >
            </mat-form-field>
          </div>
          <div class="example-quard-width">
            <mat-label>2019 *</mat-label>
            <mat-form-field class="example-full-width" appearance="outline">
              <input
                matInput
                placeholder="2019"
                autocomplete=""
                formControlName="profit_b_tax_2019"
                required
              />
              <mat-error
                *ngIf="
                  form.get('profit_b_tax_2019')?.hasError('required') &&
                  form.get('profit_b_tax_2019')?.touched
                "
                >ⓘ Please enter  2019 – it's required</mat-error
              >
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="row-fill space-between">
        <div class="row space-between example-half-width">Net Worth (in Lakhs)</div>
        <div class="row space-between example-half-width">Market Cap (in Lakhs)</div>  
      </div>
      <div class="row-fill space-between">
        <div class="row space-between example-half-width wrap">
          <div class="example-quard-width col">
            <mat-label>2021 *</mat-label>
            <mat-form-field class="example-full-width" appearance="outline">
              <input
                matInput
                placeholder="2021"
                autocomplete=""
                formControlName="net_worth_2021"
                required
              />
              <mat-error
                *ngIf="
                  form.get('net_worth_2021')?.hasError('required') &&
                  form.get('net_worth_2021')?.touched
                "
                >ⓘ Please enter 2021 – it's required</mat-error
              >
            </mat-form-field>
          </div>
          <div class="example-quard-width">
            <mat-label>2020*</mat-label>
            <mat-form-field class="example-full-width" appearance="outline">
              <input
                matInput
                placeholder="2020"
                autocomplete=""
                formControlName="net_worth_2020"
                required
              />
              <mat-error
                *ngIf="
                form.get('net_worth_2020')?.touched &&
                form.get('net_worth_2020')?.hasError('required')
                "
                >ⓘ Please enter 2020 – it's required</mat-error
              >
            </mat-form-field>
          </div>
          <div class="example-quard-width">
            <mat-label>2019 *</mat-label>
            <mat-form-field class="example-full-width" appearance="outline">
              <input
                matInput
                placeholder="2019"
                autocomplete=""
                formControlName="net_worth_2019"
                required
              />
              <mat-error
                *ngIf="
                  form.get('net_worth_2019')?.hasError('required') &&
                  form.get('net_worth_2019')?.touched
                "
                >ⓘ Please enter 2019 – it's required</mat-error
              >
            </mat-form-field>
          </div>
        </div>
        <div class="row space-between example-half-width wrap">
          <div class="example-half-width">
            <mat-label>on 31st March 2021 *</mat-label>
            <mat-form-field class="example-full-width" appearance="outline">
              <input
                matInput
                placeholder="2021"
                autocomplete=""
                formControlName="market_cap_2021"
                required
              />
              <mat-error
                *ngIf="
                  form.get('market_cap_2021')?.hasError('required') &&
                  form.get('market_cap_2021')?.touched
                "
                >ⓘ Please enter  2021 – it's required</mat-error
              >
            </mat-form-field>
          </div>
          <div class="example-half-width">
            <mat-label>on 31st March 2020 *</mat-label>
            <mat-form-field class="example-full-width" appearance="outline">
              <input
                matInput
                placeholder="2020"
                autocomplete=""
                formControlName="market_cap_2020"
                required
              />
              <mat-error
                *ngIf="
                  form.get('market_cap_2020')?.hasError('required') &&
                  form.get('market_cap_2020')?.touched
                "
                >ⓘ Please enter  2020 – it's required</mat-error
              >
            </mat-form-field>
          </div>

        </div>
      </div>


      <div class="row-fill space-between">
        <div class="col flex1">
          <div>Investments in West Bengal for FY 2020-21 (in Lakhs) *</div>
          <div class="example-full-width">
            <!-- <mat-label>on 31st March 2021 *</mat-label> -->
            <mat-form-field class="example-full-width" appearance="outline">
              <input
                matInput
                placeholder="Investments in West Bengal"
                autocomplete=""
                formControlName="wb_investment"
                required
              />
              <mat-error
                *ngIf="
                  form.get('wb_investment')?.hasError('required') &&
                  form.get('wb_investment')?.touched
                "
                >ⓘ Please enter  Investment in west Bengal 2021 – it's required</mat-error
              >
            </mat-form-field>
          </div>
        </div>
        <!-- <div class="row space-between flex0"></div> -->
        <div class="col space-between flex2">
          <div>Please provide a copy of the organisation's audited Annual Report for the financial year ended</div>
          <div class="row-fill space-between wrap">
          <div class="example-quard-width col">
            <mat-label>31st March 2021 *</mat-label>
            <mat-form-field style="width: 100%;" appearance="outline">
              <button mat-raised-button class="sam" matSuffix (click)="f_input.click()">
                Browse
              </button>
              <input type="text" readonly matInput formControlName="doc_annual_report_2021" />
              <input
                type="file"
                multiple
                hidden
                #f_input
                (change)="handleFileInputChange(f_input?.files)"
              />
              <mat-error>this field is required</mat-error>
            </mat-form-field>
          </div>
          <div class="example-quard-width">
            <mat-label> 31st March 2020*</mat-label>
            <mat-form-field style="width: 100%;" appearance="outline">
              <button mat-raised-button class="sam" matSuffix (click)="f2_input.click()">
                Browse
              </button>
              <input type="text" readonly matInput formControlName="doc_annual_report_2020" />
              <input
                type="file"
                multiple
                hidden
                #f2_input
                (change)="handleFileInput2Change(f2_input?.files)"
              />
              <mat-error>this field is required</mat-error>
            </mat-form-field>
          </div>
          <div class="example-quard-width">
            
            <mat-label>31st March 2019 *</mat-label>
            <mat-form-field style="width: 100%;" appearance="outline">
              <button mat-raised-button class="sam" matSuffix (click)="f3_input.click()">
                Browse
              </button>
              <input type="text" readonly matInput formControlName="doc_annual_report_2019" />
              <input
                type="file"
                multiple
                hidden
                #f3_input
                (change)="handleFileInput3Change(f3_input?.files)"
              />
              <mat-error>this field is required</mat-error>
            </mat-form-field>
          </div>
        </div>
        </div>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions class="row-fill space-between">
    <button mat-button (click)="prevClick()">Prev</button>
    <button mat-button class="btn-save" (click)="nextClick()">Save & Next</button>
  </mat-card-actions>
</mat-card>
